@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0eee6;
  font-family: "Inter", sans-serif;
}

@layer components {
  .btn {
    @apply bg-orange-500 text-white rounded px-4 py-2 font-bold cursor-pointer shadow-md
      hover:bg-orange-600 focus:ring-2 focus:ring-orange-300 focus:ring-offset-2 transition duration-300;
  }
}
